.vscode/**
.vscode-test/**
test/**
node_modules/**
scripts/**
dev_host/**
src/**
.github
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
package-lock.json
yarn.lock
.swcrc
.eslintignore
**/build